.relax{
	transition-duration: 1s;
}

.roote:{
	transition: 1s;
}

.roote:active{
	transition: 0.5s;
	transform: rotate(90deg);
}

.fix_foto{
	width: 100%;
	height: 100%;

}

.rotate_img{
	transition: all 0.5s ease;
	width: 80%;
 	height: 80%;
  	animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}
