.text{
	text-align: center;
	font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
	color: white;
	padding: 30px;

}

.text:hover{
	transition: 0.5s;
	text-decoration: underline;
}

.text:active{
	transition: 0.5s;
	box-shadow: 5px 5px white;
}